<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Infantry_attack_(-1,-1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1,41},{21,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_attack_(-1,0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{520,34},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_attack_(-1,1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{108,38},{25,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_attack_(0,-1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{15,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{591,1},{15,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_attack_(0,1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{15,37}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{63,1},{15,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_attack_(1,-1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{313,1},{21,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_attack_(1,0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{551,34},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_attack_(1,1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{141,38},{25,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_die_(-1,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{80,1},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_die_(-1,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{73,40},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_die_(-1,0)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{151,1},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_die_(-1,0)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{350,36},{27,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_die_(-1,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{454,36},{25,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_die_(-1,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{296,36},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_die_(0,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{23,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{36,40},{23,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_die_(0,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{267,36},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_die_(0,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{566,1},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_die_(0,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{174,36},{27,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_die_(1,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{107,1},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_die_(1,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{288,1},{33,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_die_(1,0)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{182,1},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_die_(1,0)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{377,36},{27,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_die_(1,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{512,1},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_die_(1,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{323,36},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(-1,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{213,1},{23,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(-1,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{481,1},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(-1,0)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{205,36},{27,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_move_(-1,0)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{336,1},{21,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(-1,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{19,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{382,1},{19,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(-1,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{18,38}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{18,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(0,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{17,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{424,1},{17,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(0,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{238,1},{23,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(0,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{21,1},{19,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(0,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{539,1},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(1,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{263,1},{23,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(1,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{487,34},{29,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_move_(1,0)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{236,36},{27,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Infantry_move_(1,0)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{359,1},{21,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(1,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{19,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{403,1},{19,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_move_(1,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{42,1},{19,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_stand_(-1,-1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{17,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{443,1},{17,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_stand_(-1,0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{582,34},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_stand_(-1,1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{404,36},{23,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_stand_(0,-1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{15,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{609,31},{15,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_stand_(0,1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{15,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{134,1},{15,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_stand_(1,-1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{17,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{462,1},{17,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_stand_(1,0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{608,1},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infantry_stand_(1,1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{429,36},{23,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Infantry.png</string>
            <key>size</key>
            <string>{634,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c3f3c279a6f4a078b960275e1311f9f:4838e4e609afd66f3bd7474e493b094f:48b6c570a9d69af407fcc4c260d00701$</string>
            <key>textureFileName</key>
            <string>Infantry.png</string>
        </dict>
    </dict>
</plist>
