<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tank_attack_(-1,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{73,45}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{490,82},{73,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_attack_(-1,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{73,45}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{565,82},{73,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_attack_(-1,0)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{79,31}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{167,92},{79,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_attack_(-1,0)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{77,37}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{915,1},{77,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_attack_(-1,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{71,59}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1214,1},{71,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_attack_(-1,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1082,1},{71,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_attack_(0,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{39,55}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{394,86},{39,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_attack_(0,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{715,80},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_attack_(0,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{37,67}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1262,74},{37,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_attack_(0,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{37,71}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1189,74},{37,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_attack_(1,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{71,45}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{754,80},{71,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_attack_(1,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,45}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{640,82},{73,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_attack_(1,0)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{81,31}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{84,92},{81,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_attack_(1,0)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{81,33}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1,92},{81,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_attack_(1,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{73,59}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1021,1},{73,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_attack_(1,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{73,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{954,1},{73,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(-1,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{77,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{714,1},{77,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(-1,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{89,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{250,1},{89,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(-1,-1)_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1022,76},{51,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(-1,0)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{77,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{781,1},{77,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(-1,0)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{89,81}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(-1,0)_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1022,76},{51,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(-1,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1275,1},{63,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_die_(-1,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{77,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{479,1},{77,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_die_(-1,1)_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1022,76},{51,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(0,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{63,71}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1149,1},{63,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_die_(0,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{77,83}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{331,1},{77,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_die_(0,-1)_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1022,76},{51,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(0,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1340,1},{63,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_die_(0,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{75,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{637,1},{75,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_die_(0,1)_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1022,76},{51,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(1,-1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{77,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{848,1},{77,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(1,-1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{89,81}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{84,1},{89,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(1,-1)_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1073,76},{51,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(1,0)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{81,67}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{410,1},{81,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(1,0)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{89,81}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{167,1},{89,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(1,0)_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1022,76},{51,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_die_(1,1)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1405,1},{63,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_die_(1,1)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{77,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{558,1},{77,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_die_(1,1)_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1022,76},{51,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tank_move_(-1,-1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{63,45}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{827,80},{63,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_move_(-1,0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{71,31}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{248,92},{71,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_move_(-1,1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{63,53}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1124,74},{63,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_move_(0,-1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{451,84},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_move_(0,1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1331,68},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_move_(1,-1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{63,45}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{892,80},{63,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_move_(1,0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{71,31}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{321,92},{71,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank_move_(1,1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{63,51}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{957,76},{63,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Tank.png</string>
            <key>size</key>
            <string>{1469,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae3ad034639dfc8586bb07e456f8f4fd:3f1f3dda89c217a3fabc5412ddb14b8c:9612789af6c5d5de15ad79c6d07560e5$</string>
            <key>textureFileName</key>
            <string>Tank.png</string>
        </dict>
    </dict>
</plist>
